<head>
    <title>JS Fight</title>
    <meta charset="utf-8" />

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/lobby.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/datatables.min.css"/>
</head>
<body>
<div id="app">
    <div id="wrapper" class="row">
        <div id="game-zone" class="d-none d-md-block col-12 col-xl-6 bordered">
            <canvas>Votre navigateur n'est pas compatible avec JS Fight, essayez avec un navigateur plus récent.</canvas>
        </div>
        <div class="col-12 col-md-6 col-xl-3 bordered">
            <p>Game chat</p>
            <div class="conversation"></div>
            <form id="form">
                <input type="text" name="message">
                <button type="submit" class="btn btn-primary">envoyer</button>
            </form>
        </div>
        <div id="connected-players" class="col-12 col-md-6 col-xl-3 bordered">
            <button class="btn btn-primary" onclick="showLadder(true)">Voir le classement</button>
            <div class="player-connected" v-for="player in players">
                <span v-if="player.connected == true">connected</span>
                <span class="player-name">{{player.pseudo}}</span>
                <span class="player-score">({{player.score}}</span>
                <span class="player-ladder">{{player.ladder}})</span>
                <button v-if="me._id != player._id" class="btn btn-danger">Défier</button>
                <span class="hidden">{{player._id}}</span>
            </div>
        </div>
    </div>
</div>

<div id="ladder">
    <button class="btn btn-danger" onclick="showLadder(false)">X</button>
    <table id="table-ladder" class="col-12">
        <thead>
            <th>Classement</th>
            <th>Joueur</th>
            <th>Score</th>
            <th>Victoires</th>
            <th>Defaites</th>
            <th>Temps de jeu</th>
            <th>Connecté</th>
        </thead>
    </table>
</div>

<div id="images">
    <img src="img/fighting.png" title="fighting">
    <img src="img/punch.png" title="punch">
    <img src="img/kick.png" title="kick">
    <img src="img/hurt.png" title="hurt">
    <img src="img/blocking.png" title="blocking">
</div>
<!-- development version, includes helpful console warnings -->
<script src="js/vue.js"></script>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/datatables.min.js"></script>

<script src="/js/chat.js"></script>
<script src="/fightgame.js"></script>
<script src="/lobby.js"></script>

</body>